/* ShowUserInfo.css */
.modal-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.modal-exit {
  opacity: 1;
  transform: translateX(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}
