/* ShowUserInfo.css */
.modal-enter {
  opacity: 0;
  transform: translateX(-10%);
}

.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.modal-exit {
  opacity: 1;
  transform: translateX(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateX(-10%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
